/* General */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #444;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1531&q=80");
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 100%;
    padding: 30px;
    border-radius: 8px;
    background: #d4e9e2;
    overflow: auto;
    box-shadow: #888 0 0px 8px;
}

/* Grocery form to add items */

#grocery-form {
    padding: 30px 0 40px 0;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
    box-shadow: #d3d3d3 0 0px 8px;
}

#grocery-form input {
    padding: 8px;
    width: 400px;
    text-align: center;
    border: none;
    font-size: 17px;
    color: #444;
    border-bottom: 1px solid #d3d3d3;
}

#grocery-form button {
    font-size: 20px;
    color: #008248;
    background: none;
    padding: 4px 10px;
    border-radius: 50%;
    border: 1px solid #008248;
}

#grocery-form input:focus, #addBtn, #clearBtn:focus {
    outline: none;
}

#addBtn:hover {
    background: #effffb;
}

/* Saved grocery list */

.item-containers {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #56b188;
}

.deleteBtns {
    color: #008248;
    background: none;
    border: 1px solid #008248;
    border-radius: 4px;
    width: 18px;
    height: 18px;
    margin-right: 15px;
}

#clearBtn {
    color: #008248;
    background: none;
    border: 1px solid #008248;
    border-radius: 25px;
    padding: 8px 20px;
    margin: 40px 0 15px 0;
    width: 200px;
    align-self: center;
}

.deleteBtns:hover, #clearBtn:hover {
    outline: none;
    background: #008248;
    color: white;
}

@media (max-width: 450px) {
    body {
        background-position: left;
    }

    .container {
        width: 80%;
        height: 70%;
    }

    #grocery-form {
        margin-bottom: 20px;
    }

    #grocery-form input {
        width: 75%;
    }
}