/* General */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #444;
    height: 90vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 100%;
    padding: 30px;
    border-radius: 8px;
    background: #d4e9e2;
    overflow: auto;
}

/* Grocery form to add items */

#grocery-form {
    padding: 20px;
    margin: 40px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grocery-form input {
    padding: 8px;
    width: 400px;
    text-align: center;
    border: none;
    font-size: 17px;
    color: #444;
    border-bottom: 1px solid #d3d3d3;
}

#grocery-form button {
    font-size: 20px;
    color: #008248;
    background: none;
    padding: 4px 10px;
    border-radius: 50%;
    border: 1px solid #008248;
}

#grocery-form input:focus, #addBtn {
    outline: none;
}

#addBtn:hover {
    background: #effffb;
}

/* Saved grocery list */

.saved-items {
    padding: 5px 0 5px 50px;
    text-align: left;
}

.deleteBtns {
    color: #008248;
    background: none;
    border: 1px solid #008248;
    border-radius: 50%;
    padding: 2px 6px;
    margin-left: 10px;
    text-align: center;
}

#clearBtn {
    color: #008248;
    background: none;
    border: 1px solid #008248;
    border-radius: 25px;
    padding: 8px 20px;
    margin: 40px 0 15px 0;
    width: 200px;
    align-self: center;
}

.deleteBtns:hover, #clearBtn:hover {
    outline: none;
    background: #effffb;
}